[MASTER]

[MESSAGES CONTROL]
# bad-continuation doesn't work with `Black` formatter
# line-too-long as line length is handled by formatting
disable=bad-continuation, line-too-long

[SIMILARITIES]
## Issues with R0801, cannot disable...
# https://github.com/PyCQA/pylint/issues/214
